.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.container {
  max-width: 800px;
  width: 100%;
}

.searchContainer {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.error {
  color: var(--error);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 481px) {
  .searchContainer {
    flex-direction: row;
  }
}
