.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.main {
  max-width: 800px;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--secondaryColor) 100%
  );
  -webkit-text-fill-color: var(--primary);
  background-clip: text;
}

@media (min-width: 481px) {
  .title {
    font-size: 2.5rem;
  }
}
